<header class="position-fixed w-100 bg-white"{% if bg %} style="background-image: url('{{ bg }}');"{% endif %}>
  {{ field_hero_image }}
  {{ page.header }}
  {% if page.navigation %}
    {%
      set navClasses = [
      'region',
      'region-' ~ page.navigation['#region'],
      'collapse',
      'tactis-gradient-bright',
      'position-relative',
      'z-500',
    ]
    %}
    <div id="navbarToggleExternalContent"{{ attributes.addClass(navClasses) }}>
      <div class="container">
        <div class="row vh-100">
          <div class="col-12 menu-header d-flex justify-content-between align-items-center">
            <div class="tactis-logo-white"><a href="/">Tactis, LLC</a></div>
            <nav class="navbar">
              <div class="container-fluid">
                <div class="search-icon visually-hidden">
                  <a href="#">
                    <i class="bi bi-search"></i>
                  </a>
                </div>
                <button class="navbar-toggler fw-bolder text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="bi bi-x-lg"></i>
                </button>
              </div>
            </nav>
          </div>
          <div class="nav-contact-container d-md-flex justify-content-md-between text-light pt-5 overflow-auto">
            <div class="nav-container fs-3 fw-bold text-lowercase text-center text-md-start">{{ page.navigation.tactis_evolve_main_navigation }}</div>
            <div class="contact-container text-center text-md-end mt-5 mt-md-0">
              <div class="mb-5">{{ page.navigation.tactis_evolve_tactisaddress_nav }}</div>
              <div class="mb-5">{{ page.navigation.tactis_evolve_letsconnect }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {{ page.hero }}
  {% if page.nav_branding or page.nav_main or page.nav_additional %}
    <div class="{{ b5_top_container }} d-flex">
      {{ page.nav_branding }}
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="p-4">
          {{ page.nav_main }}
          {{ page.nav_additional }}
        </div>
      </div>
      <div class="header-buttons">
        <a href="#">
          <i class="bi bi-search"></i>
        </a>
        <nav class="navbar">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </nav>
      </div>
      <div class="collapse navbar-collapse justify-content-md-end" id="navbarSupportedContent">
      </div>
    </div>
  {% endif %}
</header>
<main role="main">
  <a id="main-content" tabindex="-1"></a>
  {%
    set sidebar_first_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-sm-6 col-lg-3' : 'col-12 col-lg-3'
  %}
  {%
    set sidebar_second_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-sm-6 col-lg-3' : 'col-12 col-lg-3'
  %}
  {%
    set content_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-lg-6' : ((page.sidebar_first or page.sidebar_second) ? 'col-12 col-lg-9' : 'col-12' )
  %}
  <div class="{{ b5_top_container }}">
    {% if page.breadcrumb %}
      {{ page.breadcrumb }}
    {% endif %}
    <div class="row g-0">
      {% if page.sidebar_first %}
        <div class="order-2 order-lg-1 {{ sidebar_first_classes }}">
          {{ page.sidebar_first }}
        </div>
      {% endif %}
      <div class="order-1 order-lg-2 {{ content_classes }}">
        {{ page.content }}
      </div>
      {% if page.sidebar_second %}
        <div class="order-3 {{ sidebar_second_classes }}">
          {{ page.sidebar_second }}
        </div>
      {% endif %}
    </div>
  </div>
</main>
{% if page.footer_top_left or page.footer_top_right or page.footer_bottom %}
  <footer class="mt-auto text-small {{ footer_classes }}">
    {% if page.footer_top_left or page.footer_top_right %}
      <div class="region region-footer-top bg-black text-light py-5">
        <div class="container">
          <div class="row">
            <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-start gap-4">
              <div class="d-flex flex-column col-12 col-md-6 text-center text-md-start">
                <div class="mb-3 d-flex justify-content-center justify-content-md-start">
                  <div class="tactis-logo-white">
                    <a href="/" title="Home" class="d-block">Tactis, LLC</a>
                  </div>
                </div>
                {{ page.footer_top_left }}
              </div>
              <div class="col-12 col-md-6 text-center text-md-end">
                {{ page.footer_top_right }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if page.footer_bottom %}
      {{ page.footer_bottom }}
    {% endif %}
  </footer>
{% endif %}
